<form [formGroup]="orderForm">
    <p-fluid>
        <div class="card flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <label for="cliente">Cliente</label>
                <p-dropdown [options]="customers" optionLabel="razaoSocial" [filter]="true" filterBy="razaoSocial"
                    placeholder="Selecione um cliente" id="cliente" formControlName="cliente"
                    class="flex-auto" autocomplete="off"></p-dropdown>
                    <small class="p-error"
                    *ngIf="orderForm.get('cliente')?.hasError('required') && orderForm.get('cliente')?.touched">
                   Selecione um cliente.
                    </small>
            </div>

            <div formArrayName="itens">
                <div *ngFor="let itemForm of itemsControls; let i = index" [formGroupName]="i" class="flex flex-col gap-2 border-y border-gray-200 py-2">
                      <div class="flex gap-2 items-center">
                        <label for="produto" class="font-semibold w-24">Produto {{i + 1}}</label>
                        <p-dropdown [options]="products" optionLabel="nome" [filter]="true" filterBy="nome"
                            placeholder="Selecione um produto" id="produto" formControlName="produto" class="flex-auto" autocomplete="off"></p-dropdown>
                             <small class="p-error"
                                *ngIf="itemForm.get('produto')?.hasError('required') && itemForm.get('produto')?.touched">
                             Selecione um produto.
                                </small>
                         <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="removeItem(i)" title="Excluir produto"></button>
                    </div>
                      <div class="flex gap-2 items-center">
                         <label for="quantidade" class="font-semibold w-24">Quantidade</label>
                        <p-inputNumber inputId="quantidade" formControlName="quantidade"
                            class="flex-auto" autocomplete="off"></p-inputNumber>
                            <small class="p-error"
                                *ngIf="itemForm.get('quantidade')?.hasError('required') && itemForm.get('quantidade')?.touched">
                            Informe a quantidade.
                            </small>
                     </div>
                </div>
            <button pButton pRipple type="button" label="Adicionar Produto" icon="pi pi-plus"
                class="p-button-secondary mt-2" (click)="addItem()" title="Adicionar Produto"></button>
        </div>

            <div class="flex items-start gap-2 mt-2">
                  <span>Total do Pedido: {{calculateTotal() | currency: 'BRL'}}</span>
            </div>

             <div class="flex items-start gap-2">
                    <button pButton pRipple type="button" label="Salvar Pedido" icon="pi pi-check"
                         class="p-button-success mr-2" (click)="saveOrder()" title="Salvar Pedido"></button>
                    <button pButton pRipple type="button" label="Cancelar" icon="pi pi-times"
                         class="p-button-secondary" (click)="closeDialog()" title="Cancelar"></button>
                </div>
        </div>
    </p-fluid>
</form>
<p-toast></p-toast>